doctype 5
html
  head
    title= title
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet',href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet',href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css')
    link(rel='stylesheet',href='//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css')
    link(rel='stylesheet',href='/css/main.css')
    
  body
    div.container
      block content

    script(type='text/javascript',src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript',src='//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js')
    script(type='text/javascript',src='//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js')
    script(type='text/javascript',src='/js/main.js')